@charset "utf-8";
@import "normalize";

body {
  background: #f5f5f5;
  color: #020427;
  font-size: 13px;
  line-height: 1.7;
  font-family: "-apple-system", "BlinkMacSystemFont", 'Helvetica Neue', "Arial", "Verdana", 'Hiragino Kaku Gothic ProN', "Meiryo", "sans-serif";
}

